<div>
    <ul class="nav-menu">
        <li class="nav-menu__item">
        <a ui-sref="app.ideas.idea({idea:null})">idea</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.ideas.idea({idea:1})">idea 1</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.ideas.idea({idea:2})">idea 2</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.ideas.idea({idea:3})">idea 3</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.ideas.idea({idea:4})">idea 4</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.models.idea({idea:1})">models 1</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.models.idea({idea:2})">models 2</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.models.idea({idea:3})">models 3</a>
        </li>
        <li class="nav-menu__item">
        <a ui-sref="app.models.tests">models 4</a>
        </li>
    </ul>
</div>